.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
instance/
*.pem
.run/
.python-version

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

*.json

scripts/setup_auth_env_vars.sh
/hive/node_modules/
/node_modules/
google_cloud_key*
